.saleschart {
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0.99fr;
  h3 {
    font-size: clamp(1rem, 1vw, 1vw);
    font-weight: 600;
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: clamp(1rem, 1rem, 1.4rem);
      font-weight: 500;
      letter-spacing: -0.5px;
      margin: 0;
      color: #000;
      background: transparent;
      padding: 5px 10px;
      border: solid 1px #6d28d9;
      border-radius: 6px;      
    }
  }
}
