.addlotecontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  height: 100%;
  &-title {
    display: flex;
    justify-content: space-between;
    &-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
  &-cont {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    &-producto {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr;
      gap: 10px;

      .formproduct {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        gap: 10px;
        padding: 0px;

        &-title {
          padding: 20px;
          h4 {
            font-weight: 500;
          }
          img {
            width: clamp(14px, 1.3rem, 1.3rem);
          }
        }

        .forminputs {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 0px 20px;

          &-section1 {
            display: grid;
          }
          &-section2 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
          }
          &-section3 {
            display: grid;
          }
          &-section4 {
            display: grid;
            textarea {
              display: flex;
              justify-content: start;
              align-items: start;
              min-height: 5rem;
            }
          }
        }
      }
    }
    &-lote {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      gap: 10px;
    }

    .lote {
      &-listcontainer {
        display: grid;
        grid-template-rows: auto 1fr;
        height: 100%;
        overflow: hidden;
        position: relative;

        &-types {
          display: grid;
          grid-template-columns:
            auto
            2fr
            repeat(5, 1fr);

          padding: 15px 20px;
          background-color: #eeeeee;
          gap: 20px;

          @media (max-width: 768px) {
            grid-template-columns: repeat(9, auto);
          }

          .typetitle {
            display: flex;
            justify-content: start;
            align-items: center;

            span {
              font-size: clamp(10px, 1rem, 1vw);
              opacity: 0.5;
            }
          }
        }

        &-list {
          position: absolute;
          top: 50px;
          bottom: 0;
          left: 0;
          right: 0;
          .listscroll {
            display: flex;
            flex-direction: column;
            overflow-y: auto; /* scroll vertical */
            overflow-x: hidden;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .loteform {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      padding: 20px;
      gap: 10px;
      &-title {
        h4 {
          font-weight: 500;
        }
        img {
          width: clamp(14px, 1.3rem, 1.3rem);
        }
      }
      .forminputs {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 1.5fr;
        gap: 10px;
      }
    }
  }
}
