<div class="addlotecontainer">
    <div class="addlotecontainer-title">
        <div class="bigtitle">
            <img src="assets/icons/addicon.svg" alt="add-icon">
            <h3>Añadir Lote</h3>
        </div>
        <div class="addlotecontainer-title-buttons">
            <button class="lotebtn">Cancelar</button>
            <button class="lotebtn" (click)="addLote()">Añadir</button>
        </div>
    </div>
    <div class="addlotecontainer-cont">
        <div class="addlotecontainer-cont-producto">
            <form class="card formproduct" [formGroup]="productForm">
                <div class="minititle formproduct-title">
                    <img src="assets/icons/info.svg" alt="product-icon">
                    <h4>Producto</h4>
                </div>
                <div class="forminputs">
                    <div class="forminputs-section1">
                        <div class="input">
                            <label for="name">Nombre</label>
                            <input type="text" id="name" formControlName="name">
                            <div class="errorMessageContainer">
                                @if (productForm.get('name')?.touched &&
                                productForm.get('name')?.errors?.['required']) {
                                <small class="errorMessage">
                                    El nombre no puede estar vacío
                                </small>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="forminputs-section2">
                        <div class="input">
                            <label for="purchase_price">Precio Unidad</label>
                            <input type="number" id="purchase_price" placeholder="0.00" formControlName="purchase_price">
                            <div class="errorMessageContainer">
                                @if (productForm.get('purchase_price')?.touched &&
                                productForm.get('purchase_price')?.errors?.['required']) {
                                <small class="errorMessage">
                                    No puede estar vacío
                                </small>
                                } @else if (productForm.get('purchase_price')?.touched &&
                                productForm.get('purchase_price')?.errors?.['min']) {
                                <small class="errorMessage">
                                    Error
                                </small>
                                }
                            </div>
                        </div>
                        <div class="input">
                            <label for="estimated_sale_price">Venta Estimada</label>
                            <input type="number" id="estimated_sale_price" placeholder="0.00" formControlName="estimated_sale_price">
                            <div class="errorMessageContainer">
                                @if (productForm.get('estimated_sale_price')?.touched &&
                                productForm.get('estimated_sale_price')?.errors?.['required']) {
                                <small class="errorMessage">
                                    No puede estar vacío
                                </small>
                                }
                                @else if (productForm.get('estimated_sale_price')?.touched &&
                                productForm.get('estimated_sale_price')?.errors?.['min']) {
                                <small class="errorMessage">
                                    Error
                                </small>
                                }
                            </div>
                        </div>
                        <div class="input">
                            <label for="quantity">Cantidad</label>
                            <input type="number" id="quantity" placeholder="1" formControlName="quantity">
                            <div class="errorMessageContainer">
                                @if (productForm.get('quantity')?.touched &&
                                productForm.get('quantity')?.errors?.['required']) {
                                <small class="errorMessage">
                                    No puede estar vacío
                                </small>
                                } @else if (productForm.get('quantity')?.touched &&
                                productForm.get('quantity')?.errors?.['min']) {
                                <small class="errorMessage">
                                    Error
                                </small>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="forminputs-section3">
                        <div class="categorias">
                            <label for="categoria">Selecciona una categoría</label>
                            <div class="categorias-categoryselector">
                                @for (categoria of categorias; track $index) {
                                <span (click)="seleccionarCategoria(categoria.id)"
                                    [class.selected]="productForm.get('category_id')?.value === categoria.id">
                                    {{ categoria.nombre }}
                                </span>
                                }
                            </div>
                            <div class="errorMessageContainer">
                                @if (productForm.get('category_id')?.touched &&
                                productForm.get('category_id')?.errors?.['required']) {
                                <small class="errorMessage">
                                    No se a seleccionado ninguna categoría
                                </small>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="forminputs-section4">
                        <div class="input">
                            <label for="description">Descripción</label>
                            <textarea type="text" id="desc" formControlName="description"></textarea>
                            <div class="errorMessageContainer">
                                @if (productForm.get('description')?.touched &&
                                productForm.get('description')?.errors?.['maxlength']) {
                                <small class="errorMessage">
                                    Descripción demasiado larga
                                </small>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <button class="addproductbtn" type="button" (click)="addProduct()"><img
                        src="assets/icons/whitearrow.svg" alt="arrow-icon"></button>
            </form>
            <div class="card"></div>
        </div>
        <div class="addlotecontainer-cont-lote lote">
            <div class="lote-listcontainer card">
                <div class="lote-listcontainer-types">
                    <input type="checkbox" name="" id="">
                    <div class="typetitle">
                        <span>Nombre</span>
                        <img src="assets/icons/sort.svg" alt="sort-icon">
                    </div>
                    <div class="typetitle">
                        <span>Cantidad</span>
                        <img src="assets/icons/sort.svg" alt="sort-icon">
                    </div>
                    <div class="typetitle">
                        <span>Categoria</span>
                        <img src="assets/icons/sort.svg" alt="sort-icon">
                    </div>
                    <div class="typetitle">
                        <span>Coste</span>
                        <img src="assets/icons/sort.svg" alt="sort-icon">
                    </div>
                    <div class="typetitle">
                        <span>V.Estimada</span>
                        <img src="assets/icons/sort.svg" alt="sort-icon">
                    </div>
                </div>
                <div class="lote-listcontainer-list">
                    <div class="listscroll">
                        @for (product of products; track $index) {
                        <app-productlote-component [product]="product" (eliminar)="eliminarProducto($index)" />
                        } @empty {
                            <div class="emptylist">
                                <img src="assets/icons/info.svg" alt="info-icon">
                                <p>La lista esta vacía</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <form class="loteform card" [formGroup]="purchaseForm">
                <div class="minititle loteform-title">
                    <img src="assets/icons/info.svg" alt="product-icon">
                    <h4>Lote</h4>
                </div>
                <div class="forminputs">
                    <div class="input">
                        <label for="supplier_name">Proveedor</label>
                        <input type="text" id="supplier_name" formControlName="supplier_name">
                        <div class="errorMessageContainer">
                        </div>
                    </div>
                    <div class="input">
                        <label for="shipping_agency">Agencía Envío</label>
                        <input type="text" id="shipping_agency" formControlName="shipping_agency">
                        <div class="errorMessageContainer">
                            
                        </div>
                    </div>
                    <div class="input">
                        <label for="shipping_cost">Gastos Envío</label>
                        <input type="number" id="shipping_cost" placeholder="0.00" formControlName="shipping_cost">
                        <div class="errorMessageContainer">
                            @if (purchaseForm.get('shipping_cost')?.touched &&
                            purchaseForm.get('shipping_cost')?.errors?.['required']) {
                            <small class="errorMessage">
                                Obligatorio
                            </small>
                            } @else if (purchaseForm.get('shipping_cost')?.touched &&
                            purchaseForm.get('shipping_cost')?.errors?.['min']) {
                            <small class="errorMessage">
                                Error
                            </small>
                            }
                        </div>
                    </div>
                    <div class="input">
                        <label for="purchase_date">Gastos Envío</label>
                        <input type="date" id="purchase_date" formControlName="purchase_date">
                        <div class="errorMessageContainer">
                            @if (purchaseForm.get('purchase_date')?.touched &&
                            purchaseForm.get('purchase_date')?.errors?.['required']) {
                            <small class="errorMessage">
                                Obligatorio
                            </small>
                            }
                            @else if (purchaseForm.get('purchase_date')?.touched &&
                            purchaseForm.get('purchase_date')?.errors?.['fechaFutura']) {
                            <small class="errorMessage">
                                Error
                            </small>
                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>