<div class="ingresoscomponent">
    <div class="ingresoscomponent-beneficio card">
        <div class="titletoggle">
            <div class="titletoggle-title minititle">
                <div class="iconcontainer" class="icon"><img src="assets/icons/ingresos.svg" alt="dolar-icon"></div>
                <h3>Ingresos</h3>
            </div>
            <div class="filtercontainer">
                <!-- Selector Mes -->
                <div class="dropdown">
                    <div class="selected" (click)="toggleMonthDropdown()">
                        {{ selectedMonthLabel }}
                        <svg class="icon" viewBox="0 0 24 24">
                            <path d="M7 10l5 5 5-5z" />
                        </svg>
                    </div>
                    @if (showMonthDropdown) {
                    <ul class="dropdown-list">
                        @for (month of months; track $index) {
                        <li (click)="selectMonth(month)" [class.locked]="month.locked">
                            {{ month.label }}
                            @if (month.locked) {
                            <span class="pro-icon">PRO</span>
                            }

                        </li>
                        }
                        <li (click)="selectTotal()" class="total-option">Total</li>
                    </ul>
                    }
                </div>

                <!-- Selector Año -->
                <div class="dropdown">
                    <div class="selected" (click)="toggleYearDropdown()">
                        {{ selectedYearLabel }}
                        <svg class="icon" viewBox="0 0 24 24">
                            <path d="M7 10l5 5 5-5z" />
                        </svg>
                    </div>
                    @if (showYearDropdown) {
                    <ul class="dropdown-list">
                        @for (year of years; track $index) {
                        <li (click)="selectYear(year)">
                            {{ year }}
                        </li>
                        }
                        <li (click)="selectTotal()" class="total-option">Total</li>
                    </ul>
                    }
                </div>
            </div>



        </div>
        <div class="netos">
            <p class="netos-dinero">36731,56 €</p>
            <p class="netos-info"><span class="greencontainer">
                    <img src="assets/icons/green-arrow.svg" alt="arrow-icon">12%</span>vs Mes Anterior
            </p>
        </div>
        <div class="bruto">
            <div class="bruto-ingresos">
                <div class="minititle">
                    <img src="assets/icons/bank.svg" alt="bank-icon" class="icon">
                    <h3>Ingresos Brutos</h3>
                </div>
                <p>11654,65 €</p>
            </div>
            <div class="bruto-margen">
                <div class="minititle">
                    <img src="assets/icons/percent.svg" alt="percent-icon" class="icon">
                    <h3>Margen Bruto</h3>
                </div>
                <p>37,3%</p>
            </div>
        </div>
    </div>
    <div class="ingresoscomponent-facturacion card">
        <img src="assets/icons/salesprpl.svg" alt="sales-icon" class="icon bigicon">
        <div class="ingresoscomponent-facturacion-data">
            <p class="datatitle">Ventas este mes</p>
            <span class="salesnum">128</span>
            <p class="percentdata">
                <span class="greencontainer">
                    <img src="assets/icons/green-arrow.svg" alt="arrow-icon">24%</span>vs Mes Anterior
            </p>
        </div>
    </div>
    <div class="ingresoscomponent-topproduct card">
        <div class="ingresoscomponent-topproduct-title minititle">
            <div class="iconcontainer" class="icon"><img src="assets/icons/product.svg" alt="product-icon"></div>
            <h3>Producto más vendido</h3>
        </div>
        <div class="ingresoscomponent-topproduct-info">
            <p>Birkenstock Boston</p>
            <div class="ventascont">
                <img src="assets/icons/tag.svg" alt="tag-icon">
                <span>39 ventas</span>
            </div>
        </div>
    </div>
</div>