.ingresoscomponent {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  gap: 10px;
  &-beneficio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 20px;
    gap: 10px;
    .titletoggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-title {
        h3 {
          font-size: clamp(1rem, 1vw, 1vw);
          font-weight: 600;
        }
      }
      &-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .netos {
      display: flex;
      flex-direction: column;
      gap: 5px;
      &-dinero {
        font-size: clamp(3rem, 3vw, 3vw);
        font-weight: 800;
        letter-spacing: -1px;
      }
      &-info {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: clamp(1rem, 1vw, 1vw);
      }
    }
    .bruto {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;

      h3 {
        font-size: clamp(0.9rem, 1.1rem, 1vw);
        font-weight: 600;
      }
      p {
        font-size: clamp(1.5rem, 4vh, 4vw);
        font-weight: 700;
        letter-spacing: -1px;
      }

      &-ingresos {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
      &-margen {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .green {
          color: #00b800; /* verde intenso, más oscuro que neón */
          text-shadow: 0 0 4px rgba(60, 255, 0, 0.5);
        }

        .red {
          color: #a30000; /* rojo intenso, más elegante */
          text-shadow: 0 0 4px rgba(163, 0, 0, 0.5);
        }
      }
    }
  }
  &-facturacion {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 20px;
    gap: 30px;
    align-items: center;

    .bigicon {
      width: clamp(3rem, 6rem, 6rem);
      padding: 20px;
    }
    &-data {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;

      p {
        font-size: clamp(0.5rem, 1.1rem, 1.1rem);
      }
      .salesnum {
        font-size: clamp(1rem, 2.5rem, 2.5rem);
        font-weight: 700;
        letter-spacing: -1px;
      }
      .percentdata {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
      }
    }
  }
  &-topproduct {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    &-title {
      h3 {
        font-size: clamp(1rem, 1vw, 1vw);
        font-weight: 600;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 3px;
      p {
        font-size: clamp(1.6rem, 1.5vw, 1.5vw);
        font-weight: 600;
        letter-spacing: -1px;
      }
      .ventascont {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
        img {
          width: 1.3rem;
        }
        span {
          font-size: clamp(0.5rem, 1.1rem, 1.1rem);
        }
      }
    }
  }
}
