.stock {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    &-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        img {
            
        }
    }
}