.stock {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  &-header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &-listcontainer {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: hidden;
    position: relative;

    &-types {
      display: grid;
      grid-template-columns:
        auto
        2fr
        repeat(7, 1fr);

      padding: 15px 20px;
      background-color: #eeeeee;
      gap: 20px;

      @media (max-width: 768px) {
        grid-template-columns: repeat(9, auto);
      }

      .typetitle {
        display: flex;
        justify-content: start;
        align-items: center;

        span {
          font-size: clamp(10px, 1rem, 1vw);
          opacity: 0.5;
        }
      }
    }

    &-list {
      position: absolute;
      top: 50px;
      bottom: 0;
      left: 0;
      right: 0;
      .listscroll {
        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);
        overflow-y: auto; /* scroll vertical */
        overflow-x: hidden;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.prueba {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
