version: '3.8'
services:
  db:
    container_name: database
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: alexcandela
      POSTGRES_PASSWORD: alexcandela
      POSTGRES_DB: stockfastdatabase
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql