.tipscontainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &-tips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #2980b9, #6dd5fa);
    
    .a {
      font-size: clamp(1rem, 2rem, 2rem);

      font-weight: 700;
    }
    .b {
      font-size: clamp(3rem, 5rem, 5rem);
      font-weight: 900;
    }
    .c {
      font-size: clamp(5rem, 10rem, 10rem);
      font-weight: 900;
    }

    p {
      color: #fff;
      padding: 0;
      margin: 0; /* elimina los márgenes */
      line-height: 0.85;
    }

    &-title {
      h3 {
        font-size: clamp(1rem, 1vw, 1vw);
        font-weight: 600;
      }
    }
  }
  &-stock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 20px;
    @media (max-width: 768px) {
      gap: 10px;
    }

    &-title {
      h3 {
        font-size: clamp(1rem, 1vw, 1vw);
        font-weight: 600;
      }
    }
    .lote {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: 0 10px;
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 0;
      }

      &-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 7px;
        &-name {
          display: grid;
          grid-template-columns: 1fr 1fr;

          // border-bottom: solid 1px rgb(180, 180, 180);

          .titlename {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 5px;
            .circle {
              width: 10px;
              height: 10px;
              background-color: #2e9aff;
              border-radius: 50%;
            }
          }

          h5 {
            font-size: 14px;
          }
          p {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
      &-pie {
        display: flex;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
