.productlist {
  &-product {
    display: grid;
    grid-template-columns:
      auto
      2fr
      repeat(5, 1fr);
    padding: 15px 20px;
    gap: 20px;
    border-bottom: solid 1px #eeeeee;
    transition: all 0.4s ease;

    &:hover {
      background-color: #ebebeb;
    }

    .inputcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .productname {
      width: clamp(100px, 200px, 200px);
      font-weight: 600;
    }

    .dataname {
      display: flex;
      justify-content: start;
      align-items: center;
      span {
        font-size: clamp(10px, 1rem, 1vw);
      }
    }

    .categoria {
      padding: 3px 8px;
      border-radius: 10px;
      background: linear-gradient(135deg, #c919a6, #7a03a8);
      color: #fff;
      font-weight: 600;
      padding: 2px 7px;
      background-color: #fca0fc;
      border-radius: 10px;
    }
    
    &-buttons {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 5px;
    }
  }
  &-form {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
  }
}

.opened {
  max-height: 500px;
  opacity: 1;
}
