<div class="productlist">
    <div class="productlist-product">
        <div class="inputcontainer">
            <input type="checkbox" name="" id="">
        </div>
        <div class="dataname">
            <span class="hideoverflowtext productname">{{ product.name }}</span>
        </div>
        <div class="dataname">
            <span>{{ product.quantity }}</span>
        </div>
        <div class="dataname">
            <span class="categoria">{{ categoria() }}</span>
        </div>
        <div class="dataname">
            <span>{{ product.purchase_price.toFixed(2) }} €</span>
        </div>
        <div class="dataname">
            <span>{{ product.estimated_sale_price.toFixed(2) }} €</span>
        </div>
        <div class="productlist-product-buttons">
            
            <button class="productbutton" (click)="eliminarProducto()">
                <img src="assets/icons/delete.svg" alt="delete-icon">
            </button>
        </div>
    </div>
    <div class="productlist-form" [ngClass]="{ 'opened': show() }">
        formulario
    </div>
</div>