@use '../styles/base/typography' as *;
@use '../styles/abstracts/variables' as *;

.app-container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;

  .sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    transition: all 0.4s ease-in-out;
    &-logo {
      display: flex;
      align-items: center;
      img {
        height: 25px;
        margin-right: 10px;
      }
      h1 {
        font-family: $font;
        font-size: 35px;
        margin: 0;
        color: $maincolor;
        letter-spacing: -0.5px;
      }
    }
    &-menu {
      ul {
        list-style: none;
        padding: 0;
        margin-top: 10px;
        li {
          margin-bottom: 5px;
        }
        hr {
          border: none;
          border-top: 1px solid #ccc;
          margin: 10px 0;
        }
      }
    }
  }

  .main {
    background-color: #f1f1f1;
  }
}
