.allbuscador {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
  
}

.buscador {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 8px;
  gap: 10px;
  
  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
    display: none;
  }
    img {
      width: clamp(10px, 1rem, 1vw);
      opacity: 0.5;
    }
  }
  &-input {
    font-weight: 300;
    font-size: clamp(10px, 1rem, 1vw);
  }
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  img {
    width: 20px;
    opacity: 0.5;
  }
}
