<div class="login">
    <form class="loginform" [formGroup]="loginForm">
        <div class="forminputs">
            <div class="input">
                <label for="email">Correo</label>
                <input type="text" id="email" formControlName="email">
                <div class="errorMessageContainer">
                    @if (loginForm.get('email')?.touched &&
                    loginForm.get('email')?.errors?.['required']) {
                    <small class="errorMessage">
                        Error
                    </small>
                    }
                </div>
            </div>
            <div class="input">
                <label for="password">Contraseña</label>
                <input type="password" id="password" formControlName="password">
                <div class="errorMessageContainer">
                    @if (loginForm.get('password')?.touched &&
                    loginForm.get('password')?.errors?.['required']) {
                    <small class="errorMessage">
                        Error
                    </small>
                    }
                </div>
            </div>
        </div>
        <div class="formbtn">
            <button type="submit" class="authbtn" (click)="submitData()">Login</button>
        </div>
        <div>
            <a class="" routerLink="/register" routerLinkActive="active">Register</a>
        </div>
    </form>
</div>