<div class="productlist">
    <div class="inputcontainer">
        <input type="checkbox" name="" id="">
    </div>
    <div class="dataname">
        <span class="hideoverflowtext productname">Zapatillas Birkenstock Boston</span>
    </div>
    <div class="dataname">
        <span>10</span>
    </div>
    <div class="dataname">
        <span class="categoria">Calzado</span>
    </div>
    <div class="dataname">
        <span>17€</span>
    </div>
    <div class="dataname">
        <span>80€</span>
    </div>
    <div class="dataname">
        <span>26/09/2025</span>
    </div>
    <div class="dataname">
        <span>#456</span>
    </div>
    <div class="productlist-buttons">
        <button class="productbutton">
            <img src="assets/icons/money.svg" alt="money-icon">
        </button>
        <button class="productbutton">
            <img src="assets/icons/edit.svg" alt="edit-icon">
        </button>
        <button class="productbutton">
            <img src="assets/icons/delete.svg" alt="delete-icon">
        </button>
    </div>
</div>
