<div class="generalpage">
    <div class="generalpage-item1 card">
        @if (loading()) {
        <app-skeleton-component />
        } @else {
        <app-sales-chart-component [data]="data" [filter]="filter()" />
        }
    </div>

    <div class="generalpage-item2 card" (click)="goToPro()">
        <div class="pro-container">
            <p>stockfast.</p><span>PRO</span>
        </div>
    </div>

    <div class="generalpage-item3">
        @if (loading()) {
        <app-skeleton-component />
        } @else {
        <app-tips-component [stockTotal]="stockTotal" [stockData]="stockData" />
        }
    </div>

    <div class="generalpage-item4">
        @if (loading()) {
        <app-skeleton-component />
        } @else {
        <!-- ✅ AÑADIDO: [initialFilter]="filter()" -->
        <app-ingresos-component 
            [initialFilter]="filter()"
            [ingresos]="ingresos"
            [numVentas]="numVentas"
            (filterChange)="onFilterSelected($event)">
        </app-ingresos-component>
        }
    </div>
</div>
