.generalpage {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;

  &-item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  &-item2 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;

    background: linear-gradient(120deg, #333399 0%, #ff00cc 35%, #b46600 70%, #006999 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 300% 300%;
    transition: background-position 0.5s ease;

    &:hover {
      background-position: right center;
      opacity: 0.9;
      cursor: pointer;
    }

    .pro-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    p {
      color: white;
      font-size: clamp(1.5rem, 3vw, 4rem);
      font-weight: bold;
      text-align: center;
    }
    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-size: clamp(1.5rem, 2vw, 3rem);
      font-weight: bold;
      text-align: center;

      background: linear-gradient(135deg, #3a0063, #6a0dad);

      backdrop-filter: blur(5px);
      background-color: rgba(75, 0, 130, 0.6);

      padding: 4px 12px;
      border-radius: 10px;

      border: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
  &-item3 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  &-item4 {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    &-item1,
    &-item2,
    &-item3,
    &-item4 {
      grid-column: 1 / -1;
      grid-row: auto;
    }
  }
}
