// @media (max-width: 768px) {
// }

body {
  font-family: 'Figtree', sans-serif;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdacec;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  img {
    width: 15px;
    height: 15px;
  }
}

.greencontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 5px;
  background-color: #cfffca;
  border: solid 1px #009b05;
  border-radius: 5px;
  color: #009b05;
  letter-spacing: -0.5px;
  img {
    width: 1.6vh;
  }
}
.redcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 5px;
  background-color: #ffcaca;
  border: solid 1px #9b0000;
  border-radius: 5px;
  color: #9b0000;
  letter-spacing: -0.5px;
  img {
    width: 1.6vh;
    transform: rotate(180deg);
    filter: invert(18%) sepia(100%) saturate(3000%) hue-rotate(350deg) brightness(90%);
  }
}

.minititle {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #ffffff;
}

.hideoverflowtext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type='checkbox'] {
  cursor: pointer;
}

.bigtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  opacity: 0.8;
  img {
    width: clamp(0.5rem, 2rem, 2rem);
  }
  h3 {
    font-size: clamp(0.5rem, 1.8rem, 1.8rem);
    letter-spacing: -0.5px;
    font-weight: 700;
  }
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  label {
    font-size: clamp(0.5rem, 1rem, 1rem);
  }
  input {
    background-color: #f8f8f8;
    border: solid 1px #cfcfcf;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
  }

  textarea {
    background-color: #f8f8f8;
    border: solid 1px #cfcfcf;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    min-height: 5rem;
    resize: none;
  }
}

.categorias {
  display: flex;
  flex-direction: column;
  gap: 5px;
  label {
    font-size: clamp(0.5rem, 1rem, 1rem);
  }

  &-categoryselector {
    display: flex;

    flex-wrap: wrap;
    gap: 10px;
    span {
      border: solid 1px #cfcfcf;
      padding: 2px 5px;
      border-radius: 5px;
      cursor: pointer;
      transition: all ease 0.3s;
      &:hover {
        background-color: #7b91ff;
        color: #fff;
      }
    }
    .selected {
      background-color: #667ffc;
      color: #fff;
    }
  }
}

.errorMessageContainer {
  min-height: 1.2rem;
  .errorMessage {
    display: flex;
    color: red;
    height: 100%;
  }
}

.emptylist {
  grid-row: 2 / 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;

  img {
    width: clamp(0.5rem, 1.2rem, 1.2rem);
  }
  p {
    font-size: clamp(0.5rem, 1.1rem, 1.1rem);
    opacity: 0.7;
  }
}

select {
  position: relative;
  z-index: 3;
}
