/* base/_reset.scss */

/* Box sizing global */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Quitar márgenes y paddings por defecto */
* {
  margin: 0;
  padding: 0;
}

/* Listas */
ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Imágenes y medios */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Inputs y botones */
button, input, select, textarea {
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}

/* HTML5 elementos en bloque */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
